body {
    font-family: 'Roboto', sans-serif;
    background-color: #dfe3e7;
    margin: 0;
    padding: 0;
}

h2 {
    color: #000000;
}

.navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

textarea {
    resize: none;
}

button[type="submit"] {
    font-weight: bold;
    background-color: #00165c;
    border: none;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #001f61;
}
